@font-face {
    font-family: "Hackney";
    src: local("Hackney"), url("./assets/fonts/Hackney/HackneyPersonalUseOnly.ttf") format("truetype");
}

* {
    font-family: "Hackney", Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}